
/* just make this pretty lol */

:root {
    --rowNum: 4;
    --colNum: 5;
    --gridHeight: 120px;
    --wrapperH: 40px; 
}

body {
    background-color: #f8deee;
    font-family: Sans-Serif;
}

canvas {
     background-color: #ffffff;
}

.tile {
    display: inline;
}
